{% load widget_tweaks %}

<div class="modal-header">
  <h3 class="modal-title">Injury details</h3>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <div class="">
    Injury Type
    {{ injury.injury_type }}
  </div>
  <div class="">
    Injury Serverity:
    {{ injury.injury_serverity }}
  </div>

  <div class="">
    Notes:
    {{ injury.notes }}
  </div>


</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>