{% load widget_tweaks %} {% load static %}

<form method="post" action="" enctype="multipart/form-data">
  {% csrf_token %}

  {% for hidden_field in form.hidden_fields %}
  {{ hidden_field }}
  {% endfor %}

  <div class="modal-header">
    <h3 class="modal-title">Verify {{ verify.player }}</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>



  <div class="modal-body">
    {{ form.player.as_hidden }}

    {{ form.birth_cert_no.as_hidden }}
    {{ form.birth_cert_pdf.as_hidden }}

    {{ form.passport.as_hidden }}
    {{ form.passport_image.as_hidden }}

    {{ form.id_number.as_hidden }}
    {{ form.id_image.as_hidden }}


    {% if verify.birth_cert_pdf %}
    <div class="row">

      <div class="col-md-8">
        <label for="{{ form.birth_cert_pdf.id_for_label }}"><span class="label label-primary">Birth Cert</span></label>
        <a href="{{ verify.birth_cert_pdf.url }}">{{ verify.cert_name }} <span class="fa fa-download"></span></a>
      </div>

      <div class="col-md-4">
        {% render_field form.check_cert %}
      </div>
    </div>
    {% else %}
    <div class="row">

      <div class="col-md-8">
        <label for="{{ form.birth_cert_pdf.id_for_label }}"><span class="label label-primary">Birth Cert</span></label>
        <span class="label label-danger">Not Uploaded</span> <span class="fa fa-download"></span>
      </div>


    </div>
    {% endif %}



    {% if verify.id_image %}
    <div class="row">
      <div class="col-md-8">
        <label for="{{ form.id_image.id_for_label }}"><span class="label label-primary">National ID</span></label>
        <a href="{{ verify.id_image.url }}">{{ verify.id_name }} <span class="fa fa-download"></span></a>
      </div>

      <div class="col-md-4">
        {% render_field form.check_id %}
      </div>
    </div>

    {% else %}

    <div class="row">
      <div class="col-md-8">
        <label for="{{ form.id_image.id_for_label }}"><span class="label label-primary">National ID</span></label>
        <span class="label label-danger">Not Uploaded</span> <span class="fa fa-download"></span>
      </div>
    </div>

    {% endif %}


    {% if verify.passport_image %}
    <div class="row">
      <div class="col-md-8">
        <label for="{{ form.passport_image.id_for_label }}"><span class="label label-primary">Passport</span> </label>
        <a href="{{ verify.passport_image.url }}"> {{ verify.passport_name }} <span class="fa fa-download"></span></a>

      </div>

      <div class="col-md-4">
        {% render_field form.check_passport %}
      </div>

    </div>

    {% else %}

    <div class="row">
      <div class="col-md-8">
        <label for="{{ form.passport_image.id_for_label }}"><span class="label label-primary">Passport</span> </label>
        <span class="label label-danger">Not Uploaded</span> <span class="fa fa-download"></span>

      </div>
    </div>

    {% endif %}
  </div>
  <div class="modal-footer">
    <button type="button" class="submit-btn btn btn-primary">Update</button>
  </div>
</form>