{% load widget_tweaks %}

<div class="modal-header">
  <h3 class="modal-title">Reports</h3>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <br />

  <div class="x_content">
    {% if conditioning %} {% else %}
    <p><strong>No Reports are available for the player.</strong></p>
    {% endif %}
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">
    Close
  </button>
</div>
